header{
    background: blue;
}
h1, h3{
    margin: 0;
    padding: 0;
}
footer{
    background: green;
}

#content{
    background: aqua;
    overflow: hidden;
}
img {
    margin: 2%;
    padding: 2%;
    float: left;
    width: 200px;
}
#left{
    width: 48%;
    float:left;
}
#right {
    width: 48%;
    float: left;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear:both
}
